/* Your styles here */
html {
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  background-color: #e9edee;
}

bady {
  margin: 30 px;
}

.areaLogo {
  background-color: rgb(34, 47, 63);
  padding: 20px;
}
.logo {
  width: 150px;
  padding: 2;
}
.barraNavigazione {
  margin: auto;
  background-color: #354758;
  padding: 10px;
  color: white;
}
.menu {
  color: white;
  padding: 10px;
  display: inline;
}
.amenu {
  color: white;
}
section {
  margin: 30px;
}
.bannerArancione {
  color: white;
  text-align: center;
  background-color: #f56600;
  padding: 10px;
}
.pShopAll {
  font: 1.1em;
  font-style: oblique;
}
.divHolidayG {
  margin: 0px 30px;
  text-align: center;
  background-image: url(../images/bg-image.png);
  background-repeat: round;
  background: position 50px;
}
.h3Holydays {
  color: white;
  font: 1.8em sans-serif;
  padding: 20px;
}

.pBeaGo {
  color: white;
}

.cardsImg {
  display: inline-block;
  background-color: white;
  box-shadow: 10px 10px 5px #dedede, -10px -10px 5px #dedede,
    10px -10px 5px #dedede, -10px 10px 5px #dedede;
}

 .cardsImgPos {
  width: 350px;
  height: 350px;
  margin: 10px;
  border-radius: 20px; */
}
.scolor {
  margin: 30px;
  background-color: white;

