/* Your styles here */
html {
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  background-color: #e9edee;
}

bady {
  margin: 30 px;
}

.areaLogo {
  background-color: rgb(34, 47, 63);
  padding: 20px;
}
.logo {
  width: 150px;
  padding: 2;
}
.barraNavigazione {
  margin: auto;
  background-color: #354758;
  padding: 10px;
  color: white;
}
.menu {
  color: white;
  padding: 10px;
  display: inline;
}
.amenu {
  color: white;
}
section {
  margin: 30px;
}
.bannerArancione {
  color: white;
  text-align: center;
  background-color: #f56600;
  padding: 10px;
}
.pShopAll {
  font: 1.1em;
  font-style: oblique;
}
.sHolidayG {
  height: 165px;
  color: white;
  margin: px 30px 0px 30px;
  text-align: center;
  background-image: url(../images/bg-image.png);
  /* box-sizing: border-box; */
  background-repeat: round repeat;
  /* box-sizing: border-box; */
}
.h3Holydays {
  text-align: center;
  color: white;
  font: 1.8em sans-serif;
  padding: 50px 0px 30px 0px;
}
